@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-react";

/* Así se declaran los colores personalizados en Tailwind v4 */
@theme {
  --color-very-dark-blue: #051A26;
  --color-dark-blue: #0B3954;
  --color-light-blue: #3D80B7;
  --color-yellow: #FFC107;
  --color-dark-gray: #6C757D;
  --color-light-gray: #ADB5BD;
  --color-white: #FFFFFF;
  --color-soft-gray: #979797;
  --color-blue-buttons: #0077B5;
  
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: #EDEDED;
  color: var(--color-very-dark-blue);
}